<section class="dsa41-tab-panel dsa41-notes-panel {{#unless (eq activeTab 'notes')}}is-hidden{{/unless}} {{#if isSpecies}}dsa41-species-content{{/if}}">
    <section class="dsa41-species-block">
        <h3>{{#if isSpecies}}{{localize "DSA41.Species.notes"}}{{else}}{{localize "DSA41.Sheet.notes"}}{{/if}}</h3>
        {{#if isComplexSheet}}
            {{#if isEditMode}}
            <textarea name="system.notes">{{system.notes}}</textarea>
            {{else}}
            <p>{{system.notes}}</p>
            {{/if}}
        {{else}}
        <textarea name="system.notes">{{system.notes}}</textarea>
        {{/if}}
    </section>
</section>
