<section class="dsa41-tab-panel {{#unless (eq activeTab 'features')}}is-hidden{{/unless}}">
    <div class="dsa41-three-column">
        <section class="dsa41-panel">
            <h3>{{localize "DSA41.Character.species"}}</h3>
            {{#if speciesItem}}<div class="dsa41-linked-row" data-item-id="{{speciesItem.id}}">{{speciesItem.name}}</div>{{else}}<p>-</p>{{/if}}
        </section>
        <section class="dsa41-panel">
            <h3>{{localize "DSA41.Character.culture"}}</h3>
            {{#if cultureItem}}<div class="dsa41-linked-row" data-item-id="{{cultureItem.id}}">{{cultureItem.name}}</div>{{else}}<p>-</p>{{/if}}
        </section>
        <section class="dsa41-panel">
            <h3>{{localize "DSA41.Character.profession"}}</h3>
            {{#if professionItem}}<div class="dsa41-linked-row" data-item-id="{{professionItem.id}}">{{professionItem.name}}</div>{{else}}<p>-</p>{{/if}}
        </section>
    </div>

    <div class="dsa41-two-column">
        <section class="dsa41-panel">
            <h3>{{localize "DSA41.Sheet.advantages"}}</h3>
            {{#if featureLists.advantages.length}}
            <ul class="dsa41-list">
                {{#each featureLists.advantages}}
                <li class="dsa41-linked-row" data-item-id="{{id}}">{{name}}</li>
                {{/each}}
            </ul>
            {{else}}<p>-</p>{{/if}}
        </section>
        <section class="dsa41-panel">
            <h3>{{localize "DSA41.Sheet.disadvantages"}}</h3>
            {{#if featureLists.disadvantages.length}}
            <ul class="dsa41-list">
                {{#each featureLists.disadvantages}}
                <li class="dsa41-linked-row" data-item-id="{{id}}">{{name}}</li>
                {{/each}}
            </ul>
            {{else}}<p>-</p>{{/if}}
        </section>
    </div>

    <section class="dsa41-panel">
        <h3>{{localize "DSA41.Item.specialAbility"}}</h3>
        {{#if featureLists.specialAbilities.length}}
        <ul class="dsa41-list">
            {{#each featureLists.specialAbilities}}
            <li class="dsa41-linked-row" data-item-id="{{id}}">{{name}}</li>
            {{/each}}
        </ul>
        {{else}}<p>-</p>{{/if}}
    </section>
</section>
