<section class="dsa41-tab-panel {{#unless (eq activeTab 'inventory')}}is-hidden{{/unless}}">
    <div class="dsa41-two-column">
        <section class="dsa41-panel">
            <h3>{{localize "DSA41.Item.weapon"}}</h3>
            {{#if inventoryLists.weapons.length}}
            <ul class="dsa41-list">
                {{#each inventoryLists.weapons}}
                <li class="dsa41-linked-row" data-item-id="{{id}}">{{name}}</li>
                {{/each}}
            </ul>
            {{else}}<p>-</p>{{/if}}
        </section>
        <section class="dsa41-panel">
            <h3>{{localize "DSA41.Item.skill"}}</h3>
            {{#if inventoryLists.skills.length}}
            <ul class="dsa41-list">
                {{#each inventoryLists.skills}}
                <li class="dsa41-linked-row" data-item-id="{{id}}">{{name}}</li>
                {{/each}}
            </ul>
            {{else}}<p>-</p>{{/if}}
        </section>
    </div>
</section>
